@charset "UTF-8";
/* CSS Document */

a {	color:#444444;
	text-decoration:none;
}

body{
	background-color:#DDDDDD;
	padding: 2em;
	font-family:"Press Start 2P";
	font-size:small;
	color:#111111;
	
}

h1 {
	color:#222222;

}

img {
	margin:.5em;
}

#caption{
	width:68%;
	font-family:"Press Start 2P";
	border:solid;
	border-width:5px;
	margin:0l
}

#container {
	    width: 700px ;
  		margin-left: auto ;
 	    margin-right: auto ;
}



