@charset "UTF-8";
/* CSS Document */

body{
	background-color:#222222;
	padding: 2em;
	font-family:"Press Start 2P";
	
}

canvas{
	margin:3%;
}

#caption{

	width:64%;
	font-family:"Press Start 2P";
	font-size:24px;
	margin-left:3%;
	margin-top:0;
	border:solid;
	border-width:5px;
}

#panel {
	position:absolute;
	right: 0;
	top:0;
	width:20%;
	border:solid;
	background-color:#444444;
}

a {
	color:#00DD00;
	text-decoration:none;
}
